# ========== DOCKER HOST PORTS ==========
# Porta do MongoDB exposta no host (opcional, pode manter fixa)
MONGO_HOST_PORT=

# Porta do Backend NestJS exposta no host
BACKEND_HOST_PORT=

# ========== MONGODB LOCAL (DOCKER) ==========
MONGO_DB_NAME=
MONGO_USER=
MONGO_PASSWORD=
MONGO_CONTAINER_PORT=
# URI interna para o backend se conectar (dentro da rede Docker)
# MONGO_URI=